antlr4-python3-runtime==4.13.2
blinker==1.9.0
click==8.2.1
dill==0.4.0
Flask==3.1.1
itsdangerous==2.2.0
Jinja2==3.1.6
MarkupSafe==3.0.2
numpy==2.3.1
openqasm3==1.0.1
pbr==6.1.1
psutil==7.0.0
pyqasm==0.4.0
pyqir==0.10.9
python-dateutil==2.9.0.post0
qbraid-qir==0.4.0
qiskit==2.1.0
qiskit-aer==0.17.1
rustworkx==0.16.0
scipy==1.16.0
setuptools==80.9.0
six==1.17.0
stevedore==5.4.1
typing_extensions==4.14.0
Werkzeug==3.1.3
