[Unit]
Description=QImage microservice
After=network.target

[Service]
User=qbit
WorkingDirectory=/home/qbit/qimage
ExecStart=/home/qbit/qimage/.venv/bin/python /home/qbit/qimage/app.py
Restart=always
RestartSec=5
StandardOutput=journal
StandardError=journal

[Install]
WantedBy=multi-user.target
