[Unit]
Description=Quantag Bootstrap service
After=network.target

[Service]
User=dev
WorkingDirectory=/home/dev/boots
ExecStart=/home/dev/boots/.venv/bin/python /home/dev/boots/app.py
Restart=always
RestartSec=5
StandardOutput=journal
StandardError=journal

[Install]
WantedBy=multi-user.target
