[Unit]
Description=QDB Python Executor microservice
After=network.target

[Service]
User=admin
WorkingDirectory=/home/admin/qdb-decom
ExecStart=/home/admin/qdb-decom/.venv/bin/python /home/admin/qdb-decom/app.py
Restart=always
RestartSec=5
StandardOutput=journal
StandardError=journal

[Install]
WantedBy=multi-user.target
